<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milkTea.mapper.MOrderDetailMapper">

    <resultMap type="mOrderDetailView" id="OrderDetailResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="productId" column="product_id" />
        <result property="num" column="num" />
        <result property="productPrice" column="product_price" />
        <result property="productImgUrl" column="product_img_url" />
        <result property="productName" column="product_name" />
        <result property="createTime"    column="create_time"    />
    </resultMap>


    <sql id="selectOrderDetail">
        SELECT
            od.id,
            od.order_no,
            od.product_id,
            od.num,
            od.price product_price,
            od.create_time,
            p.`name` product_name,
            p.img_url product_img_url
        FROM
            m_order_detail od
        LEFT JOIN m_product p ON od.product_id = p.id
    </sql>


    <select id="selectOrderDetailListView" resultMap="OrderDetailResult" parameterType="mOrderDetail">
        <include refid="selectOrderDetail" />
        where od.order_no = #{orderNo}
        order by od.create_time desc
    </select>

</mapper>
